header{
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 2em;
    text-decoration: underline;
    padding-top: 0.2em;
}
h6{
    text-align: center;
    font-size: 0.83em;
    margin-top: 0.01em;
    font-family:'Laila', sans-serif;
    padding-bottom: 0.5em;
}
body{
    background-color: peachpuff;
}
em{
    position: absolute;
    left:85%;
}
.mail{
    margin-left: 50em;
}
a{
    text-decoration: none;
    color: black;
}
.search{
    margin-left: 2em;
    padding-left: auto;
}
.menu{
    padding-left: auto;
}
.fa{
    text-align:end;
    size:1em;
    text-decoration: none;
    color:black
}
.fa:hover{
    opacity:1.0;
}
.button{
    cursor:pointer;
}
.box1{
    height: 14.5em;
    width: 15em;
    background-color: white;
    padding: 1rem;
    position: absolute;
    top:15em;
    left:5em;
}
.box2{
    height: 14.5em;
    width: 15em;
    background-color: white;
    padding: 1rem; 
    position: absolute;
    left:33em;
    top:15em;
    
}
.box3{
    height: 14.5em;
    width: 15em;
    background-color: white;
    padding: 1rem; 
    position: absolute;
    left:60em;
    top:15em;
}
.box4{
    height: 14.5em;
    width: 15em;
    background-color: white;
    padding: 1rem; 
    position: absolute;
    top:40em;
    left:5em;

}
.box5{
    height: 14.5em;
    width: 15em;
    background-color: white;
    padding: 1rem; 
    position: absolute;
    left:33em;
    top:40em;
}
.box6{
    height: 14.5em;
    width: 15em;
    background-color:white;
    padding: 1rem; 
    position: absolute;
    left:60em;
    top:40em;
    /* margin-top: 2em; */

}
/* main{
    
} */